.navbar-color{
    background-color: #082133;
}

.navbar-login, .navbar-login:hover{
    color: white;
    text-decoration: none; /* no underline */
}

.header-color{
    background-color: #0070b2;
    width: 100%;
    filter: brightness(.9);
}

.img-filter{

}

.header-textcolor{
    color: white;
}


@media only screen and (max-width: 1000px) {
    .container{

    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}